<h1 class="text-center">Get the Population</h1>
<hr>
<div class="container">  
  <highchart id="chart1" config="main.chartConfig"></highchart>
  <form role="form">
    <div class="form-group">
      <div class="col-md-4">
        <label>Select the country:</label>
        <select class="form-control" ng-model="main.country" ng-change="main.getdata()">
          <option value="IN">India</option>
          <option value="UK">United Kingdom</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Select the year:</label>
        <select class="form-control" ng-model="main.year" ng-change="main.getdata()">
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Select the gender:</label>
        <select class="form-control" ng-model="main.sex" ng-change="main.getdata()">
          <option value="0">Both</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <a href="#/" id = "viewDataButton" class="btn btn-info">View Result</a>
    </div>
  </form>
</div>



